@use '../abstracts/variables' as v;
@use '../abstracts/mixins' as m;

html {
  font-size: 62.5%;
}

body {
  font-family: v.$font-df-text;
  font-size: v.$font-df-size;
}

p {
  line-height: 2;
  color: v.$color-gray-shade;
}

h1, h2, h3 {
  line-height: v.$font-height;
  font-family: v.$font-df-heading;
  color: v.$color-brown;
}

a {
  font-size: v.$font-df-size;
  text-decoration: none;
}

input, select, textarea {
  font-family: v.$font-df-text;
  font-size: v.$font-df-size;
  
  &::placeholder {
    color: v.$color-purple-tint;
  }
}

.heading-primary {
  letter-spacing: 5px;
  font-size: 6.4rem;
  font-weight: 600;

  @include m.responsiveDesign( phone ) {
    font-size: 4.2rem;
  }
}

.heading-section {
  font-size: 4.8rem;
  font-weight: 500;
  margin-bottom: 2rem;
}

.heading-subtitle {
  font-family: v.$font-df-subtitle;
  font-size: 2rem;
  font-weight: 600;
}
