@use '../../scss/abstracts/variables' as v;
@use '../../scss/abstracts/mixins' as m;

.history {
  height: 45rem;
  position: relative;
  text-align: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: 45%;
  
  @include m.responsiveDesign( phone ) {
    background-size: auto;
    background-position-y: -60%;
    background-position-x: 80%;
  }

  &__container {
    height: 100%;
  }

  &__text {
    width: 50%;
    margin-bottom: 1.2rem;

    @include m.responsiveDesign( phone ) {
      width: 90%;
    }

  }

  &__date {
    font-size: 2.4rem;
    font-weight: 300;
    letter-spacing: 3px;
  }


}