@use '../abstracts/variables' as v;

.section-space {
  padding: calc( v.$gap * 2 ) 0;
}

.text-center {
  text-align: center;
}

.show-element {
  transform: translate(0);
}

.hide-element {
  transform: translate(100%);
}