// COLORS
$color-white-tint: #f1f6f6;
$color-white: #e3eded;
$color-white-shade: #727777;

$color-gray-tint: #dfdddc;
$color-gray: #bebab9;
$color-gray-shade: #5f5d5d;

$color-brown-tint: #d1b6ae;
$color-brown: #a26c5c;
$color-brown-shade: #51362e;

$color-purple-tint: #b2adb5;
$color-purple: #645a6a;
$color-purple-shade: #322d35;

$color-pink-tint: #f9d0d5;
$color-pink: #f08a97;
$color-pink-shade: #1d1415;

$color-black: #000000;
$color-gray-1: #6E6E6E;
$color-gray-2: #78454c;

// FONTS
$font-df-size: 1.4rem;
$font-df-weight: 300;
$font-df-heading: "MonteCarlo", cursive;
$font-df-text: "Adamina", serif;
$font-df-subtitle: "Playfair Display", serif;
$font-height: 1.8;

$gap: 3.2rem;