@use '../../scss/abstracts/variables' as v;
@use '../../scss/abstracts/mixins' as m;

.dress {  

  background-size: cover;
  background-repeat: no-repeat;

  @include m.responsiveDesign( phone ) {
    background-position: -5%;
  }

  &__img {
    width: 10rem;
  }

  &__title {
    margin-bottom: 3.2rem;
  }

  &__shape {
    margin-bottom: 2rem;
  }
  
} 