@use '../../../scss/abstracts/variables' as v;
@use '../../../scss/abstracts/mixins' as m;

.timer {

  width: 100%;

  &__container {
    margin-bottom: calc( v.$gap * 3 );
  }

  &__text {
    margin: 0 auto;
    width: 35%;
    margin-bottom: 2rem;

    @include m.responsiveDesign( phone ) {
      width: 90%;
    }
  }

  &__element {
    margin-right: 6.4rem;

    @include m.responsiveDesign( phone ) {
      margin-right: 2.4rem;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  &__number {
    font-family: v.$font-df-subtitle;
    font-weight: 300;
    font-size: 4.8rem;
  }

  &__concept {
    text-transform: uppercase;
    letter-spacing: 3px;
  }

}